<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Imprimer un rendez-vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="font/iconsmind/style.css" />
    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <style>
        p{
            font-size: 1.5rem !important ;
        }
        h3{
            font-size: 1.75rem !important;
        }
        h1{
            font-size: 2rem !important;
        }
    </style>
</head>

<body id="app-container" class="menu-default show-spinner" style="padding: 50px;">
    <p style="
    position: relative;
    left: 41%;
"> <img src="./img/logo-black.png" style="
    height: 100%;
    width: 135px;
       "></p>
    <h1 style="position: relative; left: 40%;">Rendez-vous</h1>
    <hr>
    <h3 style="margin-bottom: 25px;">Information du patient:</h3>
    <p><b>Nom du patient:</b> <span id="nom">NAMANI</span></p>
    <p><b>Prénom du patient:</b> <span id="prenom">Adel Abderahmane</span></p>
    <p><b>Date de naissence:</b> <span id="ddn">11-01-1999</span></p>
    <p><b>Sex:</b> Homme</p>
    <hr>
    <h3 style="margin-bottom: 25px;">Information du rendez-vous:</h3>
    <p><b>Date du rendez-vous:</b> <span id="drdv">12-04-2020</span></p>
    <p><b>Heure du rendez-vous:</b> <span id="hrdv">10:15</span></p>
    <p><b>Titre du rendez-vous:</b> <span id="trdv">Consultation</span></p>
    <hr style="margin-bottom: 200px;">
    <div style="position: relative; left: 60%;">
        <p><b>Médecin:</b> <span id="med"> NAMANI Adel</span></p>
        <p><b>Cabinet:</b> <span id="cabinet"> Nom du cabinet</span></p>
        <p><b>Addresse:</b> <span id="address"> Bordj El Bahri</span></p>
        <p><b>Téléphone:</b> <span id="phone"> +21323419876</span></p>
        <p><b>Imprimé le:</b> <span id="today"> 12-04-2020</span></p>
    </div>  
    <!-- <script src="./js/vendor/jquery-3.3.1.min.js"></script> -->
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./js/vendor/bootstrap.bundle.min.js"></script>
    <script src="./js/vendor/Chart.bundle.min.js"></script>
    <script src="./js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="./js/vendor/moment.min.js"></script>
    <script src="./js/vendor/fullcalendar.min.js"></script>
    <script src="./js/vendor/datatables.min.js"></script>
    <script src="./js/vendor/perfect-scrollbar.min.js"></script>
    <script src="./js/vendor/owl.carousel.min.js"></script>
    <script src="./js/vendor/progressbar.min.js"></script>
    <script src="./js/vendor/jquery.barrating.min.js"></script>
    <script src="./js/vendor/select2.full.js"></script>
    <script src="./js/vendor/nouislider.min.js"></script>
    <script src="./js/vendor/bootstrap-datepicker.js"></script>
    <script src="./js/vendor/Sortable.js"></script>
    <script src="./js/vendor/mousetrap.min.js"></script>
    <script src="./js/dore.script.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="./controllers/appointment.js"></script>
    <script src="./controllers/printAppointment.js"></script>


</body>

</html>