<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Liste des patients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="font/iconsmind/style.css" />
    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body id="app-container" class="menu-default show-spinner">
    <main style="margin-left: 50px;margin-top: 40px;">
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3 justify-content-between">
                        <h1>Profil du patient</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-4" id="profile">
                            
                        </div>
                        <div class="col-lg-8 col-12 mb-4">
                            <h2 class="mb-3 ml-3">Liste des rendez-vous</h2>
                            <div class="col-12 scroll list dashboard-list-with-thumbs" id="patientAppointments">
                                
                            </div>
                        </div>                     
                    </div>
                    

                    <div class="separator mb-5"></div>
                </div>
            </div>
        </div>
    </main>


    <!-- <script src="./js/vendor/jquery-3.3.1.min.js"></script> -->
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./js/vendor/bootstrap.bundle.min.js"></script>
    <script src="./js/vendor/Chart.bundle.min.js"></script>
    <script src="./js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="./js/vendor/moment.min.js"></script>
    <script src="./js/vendor/fullcalendar.min.js"></script>
    <script src="./js/vendor/datatables.min.js"></script>
    <script src="./js/vendor/perfect-scrollbar.min.js"></script>
    <script src="./js/vendor/owl.carousel.min.js"></script>
    <script src="./js/vendor/progressbar.min.js"></script>
    <script src="./js/vendor/jquery.barrating.min.js"></script>
    <script src="./js/vendor/select2.full.js"></script>
    <script src="./js/vendor/nouislider.min.js"></script>
    <script src="./js/vendor/bootstrap-datepicker.js"></script>
    <script src="./js/vendor/Sortable.js"></script>
    <script src="./js/vendor/mousetrap.min.js"></script>
    <script src="./js/dore.script.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="./controllers/getPatientAppointments.js"></script>
</body>

</html>